#container{
    display: grid;
    grid-template-rows: 40px 80%;
    grid-row-gap: 2%;
    margin: 0;
    padding: 0;
}

.text-white{
    color:#ffffff;
}


#header{
    display: grid;
    grid-template-columns: 5% 40%;
    grid-column-gap: 60%;
    padding:5px;
    background-color: #282c34;
    height: 40px;
    margin-bottom: 20%;
    color:white;
}

#header > ul >li{
    display: inline-block;
    margin-top:0;
    text-align: center;
    align-content: space-between;
    padding-left:20px;
}

a{
    text-decoration:none;
    color:#000000;
}
li:hover{
    cursor: pointer;
    text-decoration-style: double;
    text-decoration: underline;
}
#logo{
    height: 40px;
    width: 200px;
}

#content{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 5%;
}

.right-panel{
    padding-top:30px;
    justify-content: center;
    display: grid;
    grid-auto-rows: 48px;
    grid-row-gap: 10px;
}

.menu-item{
    display: grid;
    grid-template-columns: 30% 60% ;
    grid-column-gap: 10%;
    border:1px solid #fff;
    padding:15px;
    margin-bottom:20px;
    width: 100%;
    height: 15px;
    align-content: center;
    border-radius: 50px;
}

.menu-item:hover{
    cursor: pointer;
    color:#ffffff;
}
.selected-item-photo{
    background-color: royalblue;
    color:#ffffff;
}

.selected-item-album{
    background-color: lightgreen;
    color:#ffffff;
}

.selected-item-settings{
    background-color:slategray;
    color: #ffffff;
}
.menu-item-photo:hover{
    background-color: royalblue;
}

.menu-item-settings:hover{
    background-color:slategray;
}

.menu-item-album:hover{
    background-color: lightgreen;
}
.left-panel{
    display: grid;
    grid-template-rows: 15% 70%;
    grid-row-gap: 10px;
    padding: 0;
    margin: 0;
}

.photos-content{
    display: grid;
    grid-template-columns: repeat(4,max-content) ;
    grid-column-gap: 50px;
    overflow-scrolling: auto;
    height: max-content;
}

.photo-item{
    margin-bottom: 20px;
}

.photo-item:hover{
    cursor: pointer;
}

.album-item{
    display: grid;
    grid-template-rows: max-content 50px;
    border:1px solid whitesmoke;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
}

.album-item:hover{
    border-color: lightgrey;
    cursor: pointer;
}
.album-item-libelle{
    display: grid;
    grid-template-rows:20px 15px;
    grid-row-gap: 10px;
    justify-content: center;
    padding-top: 5px;
}

small{
    font-size: 12px;
}
.btn-show-album{
    border:1px solid #ffffff;
    color:#ffffff;
    background-color: steelblue;
    width: max-content;
    height: max-content;
    padding:8px;
    justify-content: center;
    border-radius: 5px;
}

.album-item-libelle > h4{
    margin: 0;
    padding: 0;
}

.album-item > img{
    width: 100%;
}

.albums-content{
    display: grid;
    grid-template-columns: repeat(5,200px) ;
    grid-column-gap: 30px;
    overflow-scrolling: auto;
    height: max-content;
}

