
body{
    overflow: hidden;
}
form{
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    justify-items: auto;
}

.back{
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    height: content-box;

}
#text{

}

#form-login{
    text-align: center;
    z-index: 1000;
    position: absolute;
    height: 330px;
    width:400px;
    left: 35%;
    top:25%;
    padding: 5px;
    border-radius:5px;
    background-color: rgba(255,255,255,1);
}

.login-btn{
    border:1px solid #fff;
    border-radius:20px;
    width: 100px;
    margin-left: 30%;
    width:150px;
    font-size:18px;
    background-color: #000;
    color:#fff;
}

.login-btn:hover{
    background-color: #fff;
    color:#000;
    border:1px solid #000;
}

select{
  padding: 7px;
}
