#container-home-page{
}
#header-home-page{
    display: grid;
    grid-template-columns: 5% 40%;
    grid-column-gap: 70%;
    align-items: center;
    background-color: #282c34;
    height: 40px;
    margin:0;
    color:white;
}
#home-page-menu{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    align-items: center;
    margin:0
}

#home-page-menu > a:hover{
    text-decoration: underline;
}

#header-image{
    background-image: url("../images/back2.jpg");
    height: 500px;
    width:100%;
    background-repeat: no-repeat;
    color:#ffffff;
}
#home-page-content{
    display: grid;
    grid-template-rows: 500px max-content;
    grid-row-gap: 2%;
    overflow: scroll;
    height: 100vh;
}

#photos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}


.photo-item{
    padding: 0;
    width: max-content;
    height: max-content;
    margin: 10px;
    justify-content: center;
}
