#modal-content{
    display: grid;
    grid-template-rows: 50px max-content;
    grid-row-gap: 10%;
    padding: 0 10% 10% 10%;
    background-color: #282c34;
    height: 85%;
    overflow: hidden;
    color:#ffffff;
}

#modal-title{
    text-align: center;
}

#modal-details{
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 2%;
}
#image-content{
    display: grid;
    grid-template-rows: 60% 15%;
    grid-row-gap: 25%;
    height: content-box;
}
#image-content > img{
    height: 80%;
}
#btn-detail{
    width: max-content;
}
