#modal-form-content{
    display: grid;
    grid-auto-rows: max-content;
    color: #282c34;
    text-align: center;
    height: max-content;
}

#modal-form-details{
    height:auto;
}

.fields{
    display: grid;
    grid-template-columns: 50% 50%;
}

.fields-radio{
  display: grid;
  grid-template-columns: 20% 30% 30%;
  text-align: center;
  margin-left:25px;
}

.item-radio{
  display: grid;
  grid-template-columns: 50px 50px;
  grid-column-gap: 2px;
}
