
.header{
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 0;
  padding: 0;
}
input,textarea{
  border:1px solid lightgray;
  border-radius:8px;
  padding:15px;
  width: 80%;
}

button{
  padding:10px;
}

button:hover{
  cursor: pointer;
}

.btn_black{
  border:1px solid #fff;
  border-radius: 5px;
  width:content-box;
}

input:focus{
  outline: none;
  border-color:#000;
}

.container{
  display: grid;
  grid-template-columns: 50% 45%;
  height: 100vh;
  overflow: hidden;
}

.form-left-side{
  background-image: url("../images/img2.jpg");
  background-repeat: no-repeat;
  height: 100%;
  padding-top:20%;
  padding-left:10%;
  color:#fff;
  font-size: larger;
  justify-content: center;
}

.form-content{
  margin-top:50px;
  display: grid;
  grid-template-row: 30% 70%;
  grid-row-gap: 60px;
  height: 100vh;
  padding-left:20%;
  justify-items: center;
}

#simple-header-bar{
  margin:0;
  paddin-top:5px;
  height: content-box;
  background-color: #ffffff;

}

#logo{
  height: 50px;
  width: 300px;
  margin-left: 40%;
}

button[type='submit']{
  width: 100px;
  margin-left: 45%;
}
